// Fonts
@import url('https://fonts.googleapis.com/css?family=Kanit|Montserrat:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.icon-search {
    color: lightgray;
    position: absolute;
    top: 15px;
    left: 15px;
}

.m-signature-pad {
    position: relative;
    width: 100%;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-signature-pad--body canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    border-style: solid;
    border-width: 0.1ch;
}

.search-box {
    position: absolute;
    left: 50px;
    top: 5px;
    font-size: 16px;
    border-style: none;
    width: 90%;
}

.search-box:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.search-box::placeholder {
    color: lightgray;
    font-size: 20px;
}
